name: Build & Test

on: [ workflow_call, workflow_dispatch ]

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd

      - name: Setup Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238
        with:
          node-version: 20
          cache: npm

      - name: Install dependencies
        run: npm ci

      - name: Bundle definitions
        run: npm run build

      - name: Validate definitions
        run: npm test

      - name: Upload artifacts
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f
        with:
          name: gh-pages
          path: ./public/