name: Build & Test

on: [ workflow_call, workflow_dispatch ]

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11

      - name: Setup Node.js
        uses: actions/setup-node@8f152de45cc393bb48ce5d89d36b731f54556e65
        with:
          node-version: 18
          cache: npm

      - name: Install dependencies
        run: npm ci

      - name: Bundle definitions
        run: npm run build

      - name: Validate definitions
        run: npm test

      - name: Upload artifacts
        uses: actions/upload-artifact@a8a3f3ad30e3422c9c7b888a15615d19a852ae32
        with:
          name: gh-pages
          path: ./public/