name: Publish GitHub Pages

on:
  push:
    tags:
      - '[0-9]+.[0-9]+.[0-9]+'
  workflow_dispatch:

jobs:
  build:
    uses: noid-dev/codewars-openapi/.github/workflows/build.yaml@main
  publish:
    needs: build
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout gh-pages branch
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
        with:
          ref: gh-pages

      - name: Download artifacts
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131
        with:
          name: gh-pages

      - name: Update Git pages
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add -A
          if ! git diff-index --quiet HEAD; then
            git commit -m "${{ github.event.head_commit.message || 'chore: sync-up github pages (run #$GITHUB_RUN_NUMBER)' }}"
            git push -f origin gh-pages
            echo '☑️ GitHub Pages have been updated.' >> $GITHUB_STEP_SUMMARY
          else
            echo '✅ GitHub Pages are already up-to-date.' >> $GITHUB_STEP_SUMMARY
          fi